@use '../../assets/scss/abstracts/mixins' as mix;

:host {
	position: absolute;
	left: 0;
	bottom: 0;
    @include mix.flexbox;
	width: 100%;
	padding: 1em 0;
	text-align: center;
	font-size: 0.8em;
}

.container {
    @include mix.flex(auto);
	@include mix.flexbox;
}

p {
    @include mix.flex(auto);
    font-size: inherit;
}
